# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr:
- main


pool:
  vmImage: ubuntu-latest

stages:
- stage: fuzzit
  displayName: "Run Fuzzit"
  dependsOn: []
  jobs:
  - job: submit
    displayName: "Submit"
    pool:
      vmImage: ubuntu-latest
    steps:
      - script: |
          echo Add other tasks to build, test, and deploy your project.
          echo Sea https://aka.ms/yaml
          echo "$(Build.SourceBranch)"
